@font-face {
  font-family: "iconfont"; /* Project id 3792808 */
  src: url('iconfont.woff2?t=1670551726001') format('woff2'),
       url('iconfont.woff?t=1670551726001') format('woff'),
       url('iconfont.ttf?t=1670551726001') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e67a";
}

.icon-icon-:before {
  content: "\e620";
}

.icon-zanting1:before {
  content: "\e60f";
}

.icon-suofang:before {
  content: "\e61f";
}

.icon-shanchu1:before {
  content: "\e74b";
}

.icon-guanbi:before {
  content: "\e634";
}

.icon-jiesuo:before {
  content: "\e632";
}

.icon-suoding:before {
  content: "\e63a";
}

.icon-shiheyemian:before {
  content: "\e63b";
}

.icon-zhongzhi1:before {
  content: "\e60a";
}

.icon-zhongzhi2:before {
  content: "\e60b";
}

.icon-xiangqing:before {
  content: "\e612";
}

.icon-kaishi:before {
  content: "\e613";
}

.icon-kaishi1:before {
  content: "\e60e";
}

.icon-dingzhu:before {
  content: "\e626";
}

.icon-fangda:before {
  content: "\e654";
}

.icon-quanping:before {
  content: "\e655";
}

.icon-suoxiao:before {
  content: "\e656";
}

.icon-danchuang:before {
  content: "\e842";
}

.icon-yaokong:before {
  content: "\e653";
}

.icon-xiazai-wenjianxiazai-16:before {
  content: "\e856";
}

.icon-zanting2:before {
  content: "\e7dc";
}

.icon-jiesuo1:before {
  content: "\e660";
}

.icon-page-pre:before {
  content: "\e64c";
}

.icon-page-next:before {
  content: "\e64d";
}

.icon-upload:before {
  content: "\e66a";
}

.icon-user:before {
  content: "\e638";
}

.icon-shijian:before {
  content: "\e60d";
}

.icon-edit:before {
  content: "\e614";
}

.icon-shijianriqi:before {
  content: "\e6e4";
}

.icon-riqi:before {
  content: "\e639";
}

.icon-disabled:before {
  content: "\e65d";
}

.icon-dangqian:before {
  content: "\e64a";
}

.icon-warning:before {
  content: "\ec35";
}

.icon-shipin:before {
  content: "\e695";
}

.icon-biangeng:before {
  content: "\e61a";
}

.icon-task:before {
  content: "\e62f";
}

.icon-pic-error:before {
  content: "\e9f4";
}

.icon-shuaxin:before {
  content: "\e64f";
}

.icon-yunjiankong:before {
  content: "\e7d7";
}

.icon-daochu:before {
  content: "\e637";
}

.icon-shibai:before {
  content: "\e66b";
}

.icon-zhongzhi:before {
  content: "\e611";
}

.icon-loading:before {
  content: "\e8be";
}

.icon-loudoushijian:before {
  content: "\e65b";
}

.icon-guzhangshenhe:before {
  content: "\e609";
}

.icon-lock:before {
  content: "\e604";
}

.icon-pc:before {
  content: "\e927";
}

.icon-flag:before {
  content: "\e6e3";
}

.icon-chufaqi:before {
  content: "\e661";
}

.icon-xuncha:before {
  content: "\e606";
}

.icon-link:before {
  content: "\e89c";
}

.icon-server-error:before {
  content: "\e66c";
}

.icon-device-error:before {
  content: "\e709";
}

.icon-a-dingwei2:before {
  content: "\e608";
}

.icon-filter:before {
  content: "\e65f";
}

.icon-wraning-2:before {
  content: "\e65e";
}

.icon-table-success:before {
  content: "\e8ad";
}

.icon-table-error:before {
  content: "\e8b8";
}

.icon-bofang:before {
  content: "\e681";
}

.icon-zanting:before {
  content: "\e685";
}

.icon-shanchu:before {
  content: "\e602";
}

.icon-bianji:before {
  content: "\ec7c";
}

.icon-xinzeng:before {
  content: "\e62a";
}

.icon-zhankai:before {
  content: "\eb8d";
}

.icon-rili:before {
  content: "\e640";
}

.icon-lianjie:before {
  content: "\e600";
}

.icon-home:before {
  content: "\e7c6";
}

