@module-bg-opacity: #1b88fe33;
@text: #44A7FF;
// status
@disabled: #666666;
@normal: #79ffb2;
@defect: #fdde61;
@abnormal: #ff5253;
@fail: #666666;
// module
@module: #05172f;
@module-bg: #00000080;
@module-btn: #005982;


@hover-list: #283253;
@border-lighter: #00baff;

@linear: linear-gradient(90deg, #3ca0ff 0%, #98f1ff 100%);



// global
@theme: #1890ff;
@theme-light: rgba(24, 144, 255, .8);
@border: #ddd;
@scrollbar-track: #1F293D;
@scrollbar-thumb: #3B74EF;
//  menu
@header-theme: #192c3e;
@header-theme__hover: rgba(255, 255, 255, 0.2);
@header-text: #fff;
@header-text__hover: @theme;
// btn
@btn-radius: 3px;
@btn-transition: .3s;
// table
@table-header-background: #333631;

:root {
	--theme: #1890ff;
	--theme-background: #0C1321;
	--theme-background__light: #0c1321f0;
	--fff: #ffffff;
	--text-1: #e3ecff;
	--text-2: #a5acbc;
	--text-linear_1: #e9f0ff;
	--text-linear_2: #97b7ff;
	--disabled: #eeeeee40;
	--disabled-text: #eeeeee40;
	--color: #ffffff;
	--scrollbar-track: #1F293D;
	--scrollbar-thumb: #3B74EF;
	--radius: 3px;
	--success: #00ff00;
	--warning: #ffff00;
	--error: #ff0000;
	--header-theme: rgba(255, 255, 255, 0.2);
	--text-success: #00ff00;
	--text-warning: #ffff00;
	--text-error: #ff0000;
	--transition: 0.3s;
	--border-color: #ddd;
	--menu-theme: #192c3e;
	--header-theme: #192c3e;
	--header-text: #fff;
	--header-text__hover: #1890ff;
	--menu-theme__hover: rgba(255, 255, 255, 0.2);
	--menu-text: #fff;
	--menu-text__hover: #1890ff;
	--button-radius: 3px;
	--button-design-background: rgba(60, 118, 244, .1);
	--button-design-text: #fafdff;
	--button-design-border: #323f58;
	--button-design-corner: #4d85ff;
	--checkbox-background: transparent;
	--checkbox-border: #3B74EF;
	--table-background: #0C1321;
	--table-shadow: rgba(0, 0, 0, .8);
	--table-border: #323F58;
	--table-header-background: #182131;
	--table-header-border: #323F58;
	--table-content-background: #f8fbf8;
	--table-content-text__color: #ffffff;
	--table-content-text__size: 14px;
	--table-content-row__hover: #142038;
	--table-content-row__selected: #090a09;
	--table-row-border__selected: #4C84FD;
	--table-row-radius: 5px;
	--table-column-resizeline: #323F58;

}
